<div class="span2">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
	  <li><%= link_to "Add Link", new_link_path %></li>
    </ul>
  </div> <!--/.well -->
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Sections</li>
		<li<% if @tag.nil?%> class="active"<%end%>><%= link_to "All Links", links_path %></li>	
	<% @all_tags.each do |tag| %>
      <% if @tag == tag %>
		<li class="active"><%= link_to tag.name, links_path %></li>
	  <% else %>
		<li><%= link_to tag.name, links_path+"/"+tag.name %></li>	
	  <% end %>
	<% end %>
    </ul>
  </div> <!--/.well -->
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Bookmarklet</li>
	  <li><%= link_to "Cook this!", "javascript:void(location.href='" + new_link_path(:only_path => false) + "?url='+encodeURIComponent(location.href))" %></li>
    </ul>
  </div> <!--/.well -->
</div> <!--/span-->
