<%= provide(:title, "Edit link") %>
<h1>Edit link</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@link) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :stars %>
      <% f.text_field :stars %>

	   <div class="Clear">
		<% 5.times do |i| %>
		    <input id="star<%=@link.id%>_<%=i+1%>" class="star" type="radio" name="link[stars]" value=<%=i+1%> <% if @link.stars==i+1 %> checked="checked"<% end %>/>
		<% end %>
	   </div>
	   <br/>

      <%= f.label :notes %>
      <%= f.text_field :notes %>

      <%= f.submit "Update link", :class => "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>