<%= provide(:title, "New link") %>
<h1>New link</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@link) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :url %>
      <%= f.text_field :url, :value => "" %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :stars %>

	   <div class="Clear">
		<% 5.times do |i| %>
		    <input id="star_<%=i+1%>" class="star" type="radio" name="link[stars]" value=<%=i+1%>/>
		<% end %>
	   </div>
	   <br/>
	
      <%= f.label :notes %>
      <%= f.text_field :notes %>

      <%= f.submit "Create link", :class => "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>